@model Product

<div class="container">
    <div class="row">
        <h2>Add New Product</h2>
    </div>

    <form asp-controller="Product" asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="ProName">Product Name:</label>
            <input asp-for="ProName" class="form-control" id="productName" required>
            <span asp-validation-for="ProName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" class="form-control" id="price" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="category">Category:</label>
            <select asp-for="category" asp-items="ViewBag.CategoryList" class="form-select" id="category" required>
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="category" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="OriginCountry">Origin Country:</label>
            <input asp-for="OriginCountry" class="form-control" id="originCountry">           
        </div>

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <textarea asp-for="Description" class="form-control" id="description"></textarea>
        </div>

        <!-- Add more fields as needed -->
        <!-- Additional Space -->
        <div class="mb-3"></div>

        <div class="row">            
            <div class="col-4 col-md-2">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create Product</button>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}