@model Product

<div class="container">
    <div class="row">
        <h2>Delete Product</h2>
    </div>

    <form asp-controller="Product" asp-action="Delete" method="post">

        <input asp-for="ProductId" hidden />

        <div class="form-group">
            <label asp-for="ProName">Product Name:</label>
            <input asp-for="ProName" class="form-control" id="productName" required disabled>
            <span asp-validation-for="ProName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" class="form-control" id="price" required disabled>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="OriginCountry">Origin Country:</label>
            <input asp-for="OriginCountry" class="form-control" id="originCountry" required disabled>
            <span asp-validation-for="OriginCountry" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <input asp-for="Description" class="form-control" id="description" required disabled>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- Add more fields as needed -->
        <!-- Additional Space -->
        <div class="mb-3"></div>

        <div class="row">
            <div class="col-4 col-md-2">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete Product</button>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}