@model List<Product>

<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <h2>Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Add
            </a>
        </div>
    </div>
    
    <div class="table-responsive">
        <table id="proTb" class="table table-striped w-100">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
    </div>    

</div>

@section Scripts {
    <script src="~/js/product/produc    t.js"></script>   
}