@model IEnumerable<OrderHeader>

<div class="container h-100 py-2">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Your Order</h3>

                <div class="d-flex align-items-center gap-2">
                    <a asp-area="Customer" asp-controller="Order" asp-action="DownloadSummary"
                       class="btn btn-primary ml-2">Download Order Summary</a>

                    <a asp-area="Customer" asp-controller="Order" asp-action="DownlaodDetail"
                       class="btn btn-primary ml-2">Download Order Detail</a>

                    <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                        class="btn btn-outline-secondary mr-2">Go To Shop</a>
                </div>
            </div>
           
            <div class="table-responsive">
                <table id="orderTb" class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Payment Status</th>
                            <th class="text-center">Order Status</th>
                            <th class="text-center">Order Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/order/customer/Index.js"></script>
}