<form method="post">

	<div class="container h-100 py-2">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-10">

				<div class="d-flex justify-content-between align-items-center mb-4">
					<h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>

					<div class="d-flex align-items-center">					
						<a asp-action="Index"
						   class="btn btn-outline-secondary mr-2">Back To Cart</a>
					</div>
				</div>

				<div class="card border-0">
					<div class="card-body p-0">
						<div class="container rounded p-0">
							<div class="row">
								<div class="col-12 col-lg-6 pb-4">
									<div class="row">
										<h4 class="d-flex justify-content-between align-items-center mb-3">
											<span class="text-dark">Shipping Details:</span>
										</h4>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>Name</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>Phone</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>Street Address</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>City</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>State</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
									<div class="row my-1">
										<div class="col-3">
											<label>Postal Code</label>
										</div>
										<div class="col-9">
											<input class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-5 offset-lg-1">
									<h4 class="d-flex justify-content-between align-items-center mb-3">
										<span class="text-dark">Order Summary:</span>
									</h4>
									<ul class="list-group mb-3">
										<li class="list-group-item d-flex justify-content-between">
											<div>
												<h6 class="my-0">Title</h6>
												<small class="text-muted">Quantity: Count</small>
											</div>
											<span class="text-muted">Price * Count </span>
										</li>


										<li class="list-group-item d-flex justify-content-between bg-light">
											<small class="text-primary">Total (USD)</small>
											<strong class="text-primary	">$$</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-12 col-md-8 pt-2">
								<p style="color:maroon; font-size:14px;">
									Estimate Arrival Date:

								</p>
							</div>
							<div class="col-12 col-md-4">
								<button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>